*{
    padding: 0;
    margin: 0;    
    font-family: 'Inter', sans-serif;
}

/*configurando el cuerpod el página*/
body{
    background-color: #F3F5FC;
    display: flex;
    position: relative;
    height: 100vh;  
    font-family: 'Inter', sans-serif;
    justify-self: center;     
}


/*configurando el contenedor donde se encuentra el texto a encriptar, 
los botones reset, encriptar y desencriptar.*/

.container_izquierdo{
    position: relative;
    display: flex;   
    flex-direction: column;
    align-items: center;
    width: 75%;
    justify-content: space-around;    
}   

/*logotipo de Alura*/
.contenedor_img{
    width: 90%;      
 }


 /*cuadro de texto editable.*/
 .contenedor_texto1{
    height: 12.5rem;
    width: 90%;
    font-size: 1rem;
    overflow: auto;
    scrollbar-width: none;
    border: none;
    color: blue;
    outline: none;
    resize: none;
    background-color: transparent;
    
}
.contenedor_texto2{
    /* solo sirve para agrupar los botones y el mensaje de adventencia
    encima de ellos*/
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

   
}
/*agrupa el mensaje y el simbolo de admiración*/
.contenedor_advertencia{
    justify-self: flex-end;
    display: inline;    
}
/* texto pequeño en rojo */
.contenedor_mensaje_advertencia{
    font-size: .7rem;
    scrollbar-width: none;
    border: none;
    color: red;
    outline: none;
    resize: none;
    text-align: left;
    width: 90%;
    height: 13%;  
    background-color: transparent;        
  }
/*simbolo de adminración*/
  .contenedor_simbolo{
    font-size: .75rem;
    border-radius: 3rem;
    color: yellow;
    border-radius: 1rem;
    background-color: #67808E;
    width: 1.2rem;  

}

.contenedor_botones{
    display: flex;
     margin-bottom: 5%;
     justify-self:left;
}

.contenedor_boton_encriptar{
    background-color: #a7c2af;
    color: rgb(160, 166, 243);
    margin: 0 0.3125rem;
    color: blueviolet;
    border: none;
    width: 8rem;
    height: 3.125rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    
}

.contenedor_boton_desencriptar{
    background-color: #D8DFE8;    ;
    margin: 0 0.3125rem;
    color: blueviolet;
    border: none;
    width: 8rem;
    height: 3.125rem;
    border-radius: 1rem;
    padding: 1rem 2rem;   
}

.contenedor_boton_reset{
    
    background-color: #a0bfe8;    ;
    margin: 0 0.3125rem;
    color: blueviolet;
    border: none;
    width: 100%;
    height: 3.125rem;
    border-radius: 1rem;
    padding: 1rem 2rem;  
}


/*configuración del contenedor principal derecho donde se encuentras todos
los objetos de ese lado*/
.container_derecho{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    justify-content: center; 
    width: 20%;
    outline: #0A3871;    
}   

/*configuración de la imagen del chico con la lupa*/
.contenedor_img2 {
    width: 3.75rem;
    height: 3rem; 
    align-self: flex-start;  
}

/*cuadros de texto del lado derecho*/

.mensaje1{
    font-size: 1.5rem;
    width: 100%;
    scrollbar-width: none;
    border: none;
    color: blue;
    outline: none;
    resize: none;
    text-align: center;
    overflow: auto;
    height: auto;
      
 }

.mensaje2{
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
    scrollbar-width: none;
    border: none;
    color: blue;
    outline: none;
    resize: none;
        
}

.contenedor_boton_copiar{
    background-color: #D8DFE8;    ;
    margin: 0 0.3125rem;
    color: blueviolet;
    border: none;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    align-self: center;
    display: none;

}




/*----------------------------------*/
/* Estilos para el cuadro de diálogo */
.ventDialog[open] {
    position: relative;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    height: 12rem;
    width: 15rem;
    background-color: rgb(201, 239, 240);
    border-radius: 2rem;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: space-between; /* Espacia los elementos verticalmente */
    /*border: none;*/
    align-self: center;
    justify-self: center;
}

/* Contenedor principal para la imagen y los cuadros de texto */
.dialogmarco1 {
    display: flex;
    flex-direction: row; /* Alinea los elementos en fila */
    width: 100%;
    height: 90%;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: space-around; /* Espacia los elementos horizontalmente */
   
}

/* Contenedor para la imagen */
.imgMarco {
    display: flex;
    width: 38%;
    height: auto;
   
}

/* Estilos para la imagen */
.dialog_img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    padding: .5%;
    background-color: transparent;
    
}

/* Contenedor para los cuadros de texto */
.Frame_texto_advertencia {
    display: flex;
    flex-direction: column; /* Alinea los cuadros de texto en columna */
    width: 60%;
    height: 100%;
    justify-content: space-around; /* Espacia los cuadros de texto verticalmente */
    
}

/* Estilos para los cuadros de texto */
.Tx_adv1{
height: 20%; /* Altura de cada cuadro de texto */
width: 90%;
border: none;
outline: none;
resize: none;
margin-left: .5rem;
background-color: transparent;
text-align: center;
text-justify: auto;
font-size: 1rem;
color: rgb(226, 43, 226);

}

.Tx_adv2 {
    height: 35%; /* Altura de cada cuadro de texto */
    width: 90%;
    font-size: .75rem;
    border: none;
    outline: none;
    resize: none;
    margin-left: .5rem;
    background-color: transparent;
    text-align: center;
    text-justify: center;

   
    
}

/* Estilos para el botón de cerrar */
.boton_cerrar {
    background-color: #587ca8;
    color: rgb(43, 48, 192);
    border: none;
    border-radius: 1rem;   
    height: 25%;
    width:40%;
    font-size: 1rem;
    margin-bottom: 2%;
    
}


/*-------------------------------------*/




@media (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        
          }
          .container_izquierdo{
            width: 100%; 
            height:80% ;

          }
          .container_derecho {
            width: 100%; 
            height:20% ;
           
        }
        .contenedor_img{
            display: none;
        }
        .contenedor_botones{
            flex-direction: column;
            gap: 1rem;
        }
        .contenedor_boton_encriptar,.contenedor_boton_desencriptar{ 
            width: 100%;
        }
    }
    
@media  (max-width:375){
    body{
        display: flex;
        flex-direction: column;
          }
          .container_izquierdo{
            width:100%;
            
        }
        .container_derecho {
            width: 100%; 
        }
        .contenedor_img{
            display: none;
        }
        
}